@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');
$font-family: 'Archivo', sans-serif;
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size: 1rem;
}
body{
    font-family: $font-family;
    line-height: 1.5;
}
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-48{
    flex: 0 1 48%;
}
.flex-50{
    flex: 0 1 50%;
}
.flex-70{
    flex:0 1 70%;
}
.flex-46{
    flex: 0 1 46%;
}
.flex-30{
    flex: 0 1 30%;
}
.flex-32{
    flex: 0 1 32%;
}
.flex-36{
    flex: 0 1 36%;
}
.flex-25{
    flex: 0 1 25%;
}
.flex-15{
    flex: 0 1 15%;
}
.width-25{
    width: 25%;
}
.flex-column{
    flex-direction: column;
}
.padding{
    padding: 5rem 0;
}
.full-width{
    width: 100%;
}
a{
    text-decoration: none;
}

.img{
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}
.font-0{
    font-size: 0;
}
.secondary-heading{
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.3;
}
.ternary-heading{
    font-size: 1.8rem;
    font-weight: 600;
}
.text-center{
    text-align: center;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.text{
    font-size: 1.5rem;
    color: $text-color;
    font-weight: 500;
}

@mixin btn{
    display: inline-block;
    padding: 0.7rem 2rem;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid red;
}

