.price-list{
    background-color: $solution-bg-color;
    p{
        color: $text-color;
        margin-bottom: 1rem;
        font-size: 1.15rem;
    }
    article {
        border: 1px solid $text-color;
        border-radius: 0.35rem;
        padding: 2rem;
        background-color: white;
        h6{
            font-size: 1.2rem;
        }
        h3{
            font-weight: 700;
            margin: 1rem 0;
            font-size: 2.5rem;
        }
       
    }
    ul{
        caption{
            font-size: 1.2rem;
        }
        li{
            margin-top: 0.5rem;
        }
    }
    .btn{
        @include btn;
        margin-top: 2rem;
        color: $primary-color;
        &:hover{
            background-color: $primary-color;
            color: white;
        }
    }
    article:nth-child(2) .btn {
        background-color: $primary-color;
        color: white;
        &:hover{
            background-color: white;
            border:1px solid $primary-color;
            color:$primary-color;
        }
    }
    div:nth-child(2){
        margin-top: 4rem;
    }
}
.question{
    p{
        color:$text-color;
        margin: 1rem 0;
    }
    article{
        border: 1px solid $text-color;
        padding: 1rem ;
        margin-bottom: 2rem;
        border-radius: 0.25rem;
        h3{
            font-size: 1.5rem;
        }
        p{
            line-height: 2;
        }
    }
    .container {
        div{
            margin-top: 4rem;
        }
    }
}