$header-color: rgb(242, 242, 242);
$primary-color: rgb(222, 80, 69);
$active-color: rgb(228,93,97);
$light-gray:rgb(248,249,250);
$link-text-color: rgb(81,81,81);
$footer-color:rgb(52,58,64);
$text-color:rgb(135,142,148);
$solution-bg-color: rgb(248,249,250)