@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Archivo", sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-48 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.flex-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.flex-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.flex-46 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
}

.flex-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.flex-32 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32%;
          flex: 0 1 32%;
}

.flex-36 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36%;
          flex: 0 1 36%;
}

.flex-25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.flex-15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
}

.width-25 {
  width: 25%;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.padding {
  padding: 5rem 0;
}

.full-width {
  width: 100%;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.font-0 {
  font-size: 0;
}

.secondary-heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.3;
}

.ternary-heading {
  font-size: 1.8rem;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.text {
  font-size: 1.5rem;
  color: #878e94;
  font-weight: 500;
}

.nav li {
  margin-left: 2rem;
}

header section:first-child {
  padding: 0.5rem 0;
  background-color: #de5045;
}

header section:first-child ul a {
  color: white;
  font-size: 1.5rem;
}

header section:first-child .container div div:last-child {
  margin-left: 2rem;
}

header section:first-child .number span, header section:first-child .email a span {
  margin-left: 0.5rem;
  color: white;
  font-size: 1.2rem;
}

header section:first-child .number i, header section:first-child .email i {
  font-size: 1.2rem;
  color: white;
}

header section:last-child {
  background-color: #f2f2f2;
}

header section:last-child .brand {
  font-size: 2.5rem;
  font-weight: 900;
}

header section:last-child .brand h2 .active {
  color: #e45d61;
}

header section:last-child .brand h2 {
  color: black;
}

header section:last-child .nav li {
  margin-left: 3rem;
  font-size: 1.25rem;
  padding: 2.5rem 1rem;
}

header section:last-child ul li a {
  color: #515151;
  font-weight: 700;
}

header section:last-child ul li span {
  margin-left: 1rem;
}

header section:last-child ul li:hover {
  background-color: #e45d61;
  color: white;
}

header section:last-child .sub-nav {
  display: none;
}

header section:last-child .sub-nav li {
  margin: 0;
}

header section:last-child .sub-menu:hover .sub-nav {
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #f2f2f2;
  margin-top: 6.5rem;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  left: 0;
  padding: 1.5rem;
  width: 15rem;
  border-radius: 0.25rem;
}

header section:last-child .sub-menu:hover .sub-nav li {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

header section:last-child .sub-menu:hover .sub-nav li:hover {
  color: white;
}

.hero {
  background: url(./media/banner-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15rem 0;
}

.hero h1 {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.2;
}

.hero p {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.hero .btn {
  display: inline-block;
  padding: 0.7rem 2rem;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  text-decoration: none;
  border: 1px solid red;
  background-color: #de5045;
  color: white;
  border: none;
}

.service h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.service p {
  text-align: center;
}

.service .container div {
  margin-top: 4rem;
}

.service article {
  border: 2px solid rgba(135, 142, 148, 0.5);
  border-radius: 0.55rem;
  padding: 1rem;
}

.service article h3 {
  margin: 1.5rem 0 0.5rem 0;
}

.service article .btn {
  display: inline-block;
  padding: 0.7rem 2rem;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  text-decoration: none;
  border: 1px solid red;
  color: #de5045;
  margin: 1.5rem 0;
}

.solutions {
  background-color: #f8f9fa;
}

.solutions p {
  margin: 2rem 0;
}

.solutions .btn {
  display: inline-block;
  padding: 0.7rem 2rem;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  text-decoration: none;
  border: 1px solid red;
  color: #de5045;
}

main section:nth-child(4) p {
  margin: 1.5rem 0;
}

main section:nth-child(4) .btn {
  display: inline-block;
  padding: 0.7rem 2rem;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  text-decoration: none;
  border: 1px solid red;
  color: #de5045;
}

main section:nth-child(4) img {
  border-radius: 0.25rem;
}

.qutoes {
  background-color: #de5045;
}

.qutoes h4 {
  font-size: 1.8rem;
  color: white;
  font-weight: 600;
}

.qutoes p {
  color: white;
  font-weight: 400;
}

.qutoes .btn {
  display: inline-block;
  padding: 0.7rem 2rem;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  text-decoration: none;
  border: 1px solid red;
  border: 1px solid #fff;
  color: white;
  padding: 0.7rem 3rem;
}

.leader-sec p {
  margin-top: 2.5rem;
}

.client-sec {
  background-color: #f8f9fa;
}

.client-sec ul {
  margin-top: 2rem;
}

.client-sec ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
}

footer {
  background-color: #343a40;
  color: #878e94;
}

footer a {
  color: #878e94;
}

footer h3 {
  margin-bottom: 1.5rem;
}

footer ul li {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

footer section div:nth-child(3) > ul li {
  margin: 0.5rem;
}

footer .container > div:last-child {
  margin-top: 3rem;
}

footer .container > div:last-child p span {
  color: #f8f9fa;
}
/*# sourceMappingURL=style.css.map */